/.idea
/target
/benchmarks/data/
testdata/tpch/*
!testdata/tpch/queries
testdata/tpcds/*
!testdata/tpcds/queries
!testdata/tpcds/README.md
testdata/clickbench/*
!testdata/clickbench/queries
src/protocol/grpc/observability/gen/target/*
src/protocol/grpc/observability/gen/Cargo.lock
src/protocol/grpc/gen/target/*
src/protocol/grpc/gen/Cargo.lock
